<section class="container-fluid quality">
    <h6 class="h6 d-flex justify-content-center">QUALITY WORK</h6>
    <h3 class="text-h3 d-flex justify-content-center mb-5">Some of our Finest Work</h3>
    <div class="row">
        <div class="col-md-12">
            <carousel [loop]="true" [autoplay]="true" [loop]="true" [autoplayInterval]="2000" class="carousel-design">
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell m-3">
                    <div class="card ms-2">
                        <img class="img-fluid" src="../../assets/Rectangle 52.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text">UX,UI, Graphic Design</p>
                            <h4 class="card-title">Creative business card design service</h4>
                        </div>
                    </div>
                </div>
            </carousel>

        </div>
        <div class="col-md-12 d-flex justify-content-center flex-wrap align-items-center mt-5 mb-5">
            <h3 class="text-h3 d-flex justify-content-center mb-0">Take a look of our quality work</h3>
            <button type="button" class="btn btn-info ms-3">View All Work ></button>
        </div>
    </div>

</section>