@import "../../variables.scss";

.quality {
  background-color: rgba(69, 38, 80, 1);
}

.h6 {
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  top: 4rem;
  margin-bottom: 5rem;
  color: $border-color;
}

.text-h3 {
  color: $text-color;
  font-family: $font-family;
}

.carousel-design {
  height: 370px !important;
}

.carousel-cell {
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-info {
  border-radius: 78px;
  background-color: $primary-font-color;
  border-color: $border-color;
}

@media only screen and (max-width: 606px) {
  .btn-info {
    margin-top: 2rem;
  }
}
