<div class="container-fluid Technologies mt-5">
    <h3 class="text d-flex justify-content-center m-5">Technologies we work with</h3>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-evenly flex-wrap">
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets/Group 33.png" alt="">
                <div class="card-body">
                    <p class="card-text">Angular</p>
                </div>
            </div>
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets/Group 37.png" alt="">
                <div class="card-body">
                    <p class="card-text">Airflow</p>
                </div>
            </div>
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets/Group 38.png" alt="">
                <div class="card-body">
                    <p class="card-text">Scala</p>
                </div>
            </div>
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets/Group 39.png" alt="">
                <div class="card-body">
                    <p class="card-text">GraphQl</p>
                </div>
            </div>
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets/Group 40.png" alt="">
                <div class="card-body">
                    <p class="card-text">Python</p>
                </div>
            </div>
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets/Group 28.png" alt="">
                <div class="card-body">
                    <p class="card-text">React</p>
                </div>
            </div>
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets//Group 26.png" alt="">
                <div class="card-body">
                    <p class="card-text">Spark</p>
                </div>
            </div>
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets/Group 27.png" alt="">
                <div class="card-body">
                    <p class="card-text">Docker</p>
                </div>
            </div>
            <div class="card d-flex justify-content-center align-items-center mt-5" style="width : 250px">
                <img class="card-img-top mt-4 img-fluid" src="../../assets/Group 34.png" alt="">
                <div class="card-body">
                    <p class="card-text">Node</p>
                </div>
            </div>
        </div>
    </div>
</div>