<div class="container-fluid content-service mt-5">
    <h6 class="h6 d-flex justify-content-center">COPEPOD SERVICES</h6>
    <h3 class="text d-flex justify-content-center">We build modern creative mobile experiences.</h3>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-evenly mt-5 flex-wrap">
            <div class="card">
                <div class="card-body">
                    <div class="card-inside">
                        <img class="img-fluid img-group20" src="../../assets/Group 20.png" alt="">
                    </div>
                    <h5 class="card-title">Android Development</h5>
                    <p class="card-text">Our software house has been recognised by
                        google for outstanding android application
                        quality.</p>
                    <a href="#" class="btn btn-info">Read More ></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-inside">
                        <img class="img-fluid img-group23" src="../../assets/Group 23.png" alt="">
                    </div>
                    <h5 class="card-title">iOS Development</h5>
                    <p class="card-text">Our software house has been recognised by
                        google for outstanding android application
                        quality.</p>
                    <a href="#" class="btn btn-info">Read More ></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-inside">
                        <img class="img-fluid img-group21" src="../../assets/Group 21.png" alt="">
                    </div>
                    <h5 class="card-title">Hybrid app development</h5>
                    <p class="card-text">Our software house has been recognised by
                        google for outstanding android application
                        quality.</p>
                    <a href="#" class="btn btn-info">Read More ></a>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-evenly mt-5 mb-5 flex-wrap">
            <div class="card">
                <div class="card-body">
                    <div class="card-inside">
                        <img class="img-fluid img-group18" src="../../assets/Group 18.png" alt="">
                    </div>
                    <h5 class="card-title">Website development</h5>
                    <p class="card-text">Our software house has been recognised by
                        google for outstanding android application
                        quality.</p>
                    <a href="#" class="btn btn-info">Read More ></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-inside">
                        <img class="img-fluid img-group24" src="../../assets/Group 24.png" alt="">
                    </div>
                    <h5 class="card-title">Ui/ux design</h5>
                    <p class="card-text">Our software house has been recognised by
                        google for outstanding android application
                        quality.</p>
                    <a href="#" class="btn btn-info">Read More ></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-inside">
                        <img class="img-fluid img-group19" src="../../assets/Group 19.png" alt="">
                    </div>
                    <h5 class="card-title">Web app development</h5>
                    <p class="card-text">Our software house has been recognised by
                        google for outstanding android application
                        quality.</p>
                    <a href="#" class="btn btn-info">Read More ></a>
                </div>
            </div>
        </div>
    </div>
</div>