@import "../../variables.scss";

.h6 {
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  top: 4rem;
  margin-bottom: 5rem;
  color: $border-color;
}

.text {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.card {
  height: 320px;
  width: 22rem !important;
  background: rgba(247, 247, 247, 1);
  border-radius: 2.25rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 20%)
}

.card-title {
  margin-top: 5rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.card-inside {
  position: absolute;
  top: -2rem;
  left: 2rem;
  height: 75px;
  width: 75px;
  border-radius: 15px;
  background-color: $text-color;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 20%)
}

.img-group20 {
  padding: 20px 14px 0 12px;
}

.img-group23 {
  padding: 9px 0px 0 15px;
}

.img-group21 {
  padding: 12px 0px 0 12px;
}

.img-group18 {
  padding: 12px 0px 0 12px;
}

.img-group24 {
  padding: 15px 0px 0 12px;
}

.img-group19 {
  padding: 14px 0px 0 18px;
}

.card-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
}

.btn-info {
  background-color: transparent;
  border-color: transparent;
  color: $text-bg-color;
}

@media only screen and (max-width: 1100px) {
  .card {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 325px) {
  .card-title {
    margin-top: 3rem;
    font-size: 16px;
  }
}
