<div class="container-fluid">
<div class="row">
<div class="col-md-3 d-flex align-items-center">
<img src="../../assets/Group (2).svg" alt="">
</div>
<div class="col-md-6 d-flex justify-content-evenly">
<a class="menu-item" href="#">ABOUT US</a>
<a class="menu-item" href="#">BLOG</a>
<a class="menu-item" href="#">CATEGORY</a>
</div>
<div class="col-md-3 d-flex justify-content-end align-items-center list-btn">
<button type="button" class="btn btn-default">Request Quotes </button>
<i class="fas fa-bars"></i>

</div>
</div>

</div>
