@import "../../variables.scss";
$a-font-color:#000000;


a {
  text-decoration: none;
  color: $a-font-color;
}

.menu-item {
  padding: 5px 20px;
}

.btn-default {
  border: 1px solid rgba(255, 127, 64, 1);
  border-radius: 84px;
  color: $primary-font-color;
}

.fa-bars {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .btn {
    display: none;
  }

  .fa-bars {
    visibility: visible;
  }

  .menu-item {
    display: none;
  }
.list-btn{
position: absolute;
top: 0.5rem;
}
}
