@import "../../variables.scss";

.h3 {
  font-family: $font-family;
  font-size: 60px;
  font-weight: 700;
  line-height: 69px;
  background-image: url('../../assets/Ellipse\ 1.png');
  background-repeat: no-repeat;
}

.codepod-solve {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  max-width: 654px;
}

.btn-primary {
  border-radius: 78px;
  background-color: $primary-font-color;
  border-color: $border-color;
}

@media only screen and (max-width: 435px) {
  .imges-text {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 975px) {
  .h3 {
    font-size: 36px;
    line-height: 48px;
  }

  .imges-text {
    margin-top: 2rem;
  }

  .img-circle {
    margin-left: 0px;
  }
}

.content-codepod {
  background-color: rgba(251, 241, 239, 1);
}

.h6 {
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  top: 4rem;
  margin-bottom: 5rem;
  color: $border-color;

}

.text {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.h4 {
  font-size: 21px;
  line-height: 32px;
}

.para {
  font-size: 15px;
  line-height: 26px;
}

@media only screen and (max-width: 630px) {
  .h3 {
    font-size: 36px;
    line-height: 48px;
  }
}

.pic {
  width: 100%;
}

.btn-default {
  border: 1px solid $border-color;
  border-radius: 84px;
  color: $primary-font-color;
  background-color: $text-color;
}

.btn-info {
  border-radius: 22px;
  background-color: $border-color;
  color: $text-color;
  border: 1px solid $border-color;
}

.latest-blogs {
  background: rgba(255, 219, 202, 1);
  height: 400px;
}

.blogs-h6 {
  position: relative;
  top: 63px;
  margin-bottom: 5rem;
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $border-color;
}

.card-boxs {
  position: relative;
  bottom: 10rem;
}

.card {
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 20%);
  width: 800px;
}

@media only screen and (max-width: 1230px) {

  .card {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 890px) {
  .latest-blogs {
    height: 450px;
  }

  .card-boxs {
    position: relative;
    bottom: 10rem;
  }
}

@media only screen and (max-width: 505px) {
  .latest-blogs {
    height: 500px;
  }

  .card-boxs {
    position: relative;
    bottom: 10rem;
  }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
