<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-5 ps-5">
            <h3 class="h3">Top Web <br> Devlopment <br> Company In India</h3>
            <p class="codepod-solve"> Codepod solve the world's biggest problems with Expertise. Reevan helps
                global brand with digital products on web, mobile and connected
                platforms.</p>
            <div class="content-talk d-flex align-items-center justify-content-start flex-wrap">
                <div class="btns">
                    <button type="button" class="btn btn-primary">Talk to our Expert ></button>
                </div>
                <div class="imges-text d-flex align-items-center">
                    <div class="imges ms-2">
                        <img class="img-circle" src="../../assets/Ellipse 15.png" alt="">
                    </div>
                    <div class="kamlesh ms-4">
                        <h5>Kamlesh Happy</h5>
                        <p class="mb-0">Business Head</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="../../assets/Group 35.svg" alt="">
        </div>
    </div>
</div>
<div class="container-fluid content-codepod mt-5">
    <div class="container">
        <h6 class="h6 d-flex justify-content-center">WE ARE COPEPOD</h6>
        <h3 class="text d-flex justify-content-center">Award Winning Web Development Company</h3>
        <h4 class="h4 d-flex justify-content-center">#1 Web Development Company, Awarded for its Top Features/Editor
            Websites Delivered.</h4>
        <p class="para d-flex justify-content-center">Codepod started its operation in the year 1999. We are
            Worldwide, based Web, App and Digital
            Marketing
            Company. Our main Domain is Web Design, App Development, Digital Marketing, Product Design and Cloud
            Services. Customer Satisfaction and the Highest rate of Customer Repeatability make us one of the
            pioneers in the field. So, what are you waiting for? Let us discuss your ideas and our innovation in
            detail because catering your requirement and converting it into a final product is our main goal.
        </p>

    </div>
    <img class="img-fluid mt-5 pic" src="../../assets/Rectangle 33.png" alt="">
    <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-default mb-5">Know More Codepod ></button>
    </div>
</div>
<app-cards></app-cards>
<app-carousel></app-carousel>
<app-language-card></app-language-card>

<div class="container-fluid latest-blogs mt-5">
    <h6 class="blogs-h6 d-flex justify-content-center">LATEST FROM BLOG</h6>
    <h3 class="text d-flex justify-content-center">Read Articles, tips and our opnions on everything</h3>
    <p class="text-technologies d-flex justify-content-center">Get updated with the latest trends in technology
        and
        know how your business can
        benefit from these technologies.
    </p>

</div>
<div class="card-boxs d-flex justify-content-evenly flex-wrap">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/Rectangle 60.png" alt="Card image" style="width:100%">
        <div class="card-body">
            <div class="card-date d-flex justify-content-start">
                <p><i class="fas fa-calendar-alt"></i> {{Date | date: 'shortDate'}}</p>
                <p class="ms-5"><i class="fas fa-clock"></i> 5 min Read</p>
            </div>
            <h4 class="card-title">Best Technolology for Moblie
                Application Development</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lorem ipsum dolor sit amet,
                elit</p>
        </div>
    </div>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/Rectangle 60 (1).png" alt="Card image" style="width:100%">
        <div class="card-body">
            <div class="card-date d-flex justify-content-start">
                <p><i class="fas fa-calendar-alt"></i> {{Date | date: 'shortDate'}}</p>
                <p class="ms-5"><i class="fas fa-clock"></i> 5 min Read</p>
            </div>
            <h4 class="card-title">Best Technolology for Moblie
                Application Development</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lorem ipsum dolor sit amet,
                elit</p>
        </div>
    </div>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/Rectangle 60 (2).png" alt="Card image" style="width:100%">
        <div class="card-body">
            <div class="card-date d-flex justify-content-start">
                <p><i class="fas fa-calendar-alt"></i> {{Date | date: 'shortDate'}}</p>
                <p class="ms-5"><i class="fas fa-clock"></i> 5 min Read</p>
            </div>
            <h4 class="card-title">Best Technolology for Moblie
                Application Development</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lorem ipsum dolor sit amet,
                elit</p>
        </div>
    </div>
</div>