@import "../../variables.scss";

.page-footer {
  background-color: #30303C;
}

.btn-warning {
  border: 1px solid $border-color;
  border-radius: 84px;
  color: $primary-font-color;
  background-color: rgba(255, 91, 46, 1);
  color: #FFFFFF;

}

.list-group {
  li {
    background-color: transparent;
    border: none;
    color: $color;
  }
}

hr {
  border: 0;
  border-top: 0px;
}

hr:not([size]) {
  height: 0px;
}

.row {
  color: $color;
}

.copyright {
  color: $color;
}
