<div class="page-footer">
    <div class="container-fluid p-5 mb-2">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-fluid mb-4" src="../../assets/Group (1).png" alt="">
                <p>Overall client rating is 4.9 out of <br>
                    8,500 Clients for Codepod</p>
                <div class="ico">
                    <i class="fab fa-twitter "></i>
                    <i class="fab fa-facebook-f ms-2 me-2"></i>
                    <i class="fab fa-youtube ms-2 me-2"></i>
                    <i class="fab fa-linkedin-in ms-2 me-2"></i>
                    <i class="fab fa-instagram"></i>
                </div><br>
                <button type="button" class="btn btn-warning">Our Brouhure ></button>

            </div>
            <hr class="clearfix d-sm-none">
            <div class="col-sm-3">
                <h4>For Work inquiry</h4>
                <ul class="list-group">
                    <li class="list-group-item ps-0"><i class="fas fa-phone-volume mr-3"></i>+91 123 456 7890</li>
                    <li class="list-group-item ps-0"><i class="fas fa-phone-volume mr-3"></i>+91 123 456 7890</li>
                    <li class="list-group-item ps-0"><i class="fas fa-envelope mr-3"></i>Info@codepod,com</li>
                    <li class="list-group-item ps-0"><i class="fas fa-envelope mr-3"></i>mail@codepod.com</li>
                    <li class="list-group-item ps-0"><i class="fas fa-map-marker-alt mr-3"></i>Adress here,1255/59
                        your address
                    </li>

                </ul>
            </div>
            <hr class="clearfix d-sm-none">
            <div class="col-sm-2">
                <h4>Company</h4>
                <ul class="list-group">
                    <li class="list-group-item ps-0">About us</li>
                    <li class="list-group-item ps-0">Blog</li>
                    <li class="list-group-item ps-0">Category</li>
                    <li class="list-group-item ps-0">About us</li>
                    <li class="list-group-item ps-0">Blog</li>
                    <li class="list-group-item ps-0">Category</li>
                </ul>
            </div>
            <hr class="clearfix d-sm-none">
            <div class="col-sm-2">
                <h4>Services</h4>
                <ul class="list-group">
                    <li class="list-group-item ps-0">Hire Dedicated Developer</li>
                    <li class="list-group-item ps-0">Web App Development</li>
                    <li class="list-group-item ps-0">Moblie app Development</li>
                    <li class="list-group-item ps-0">Hire Dedicated Developer</li>
                    <li class="list-group-item ps-0">Web App Development</li>
                    <li class="list-group-item ps-0">Moblie app Development</li>
                </ul>
            </div>
            <hr class="clearfix d-sm-none">
            <div class="col-sm-2">
                <h4>Industries</h4>
                <ul class="list-group">
                    <li class="list-group-item ps-0">Healthcare</li>
                    <li class="list-group-item ps-0">Education</li>
                    <li class="list-group-item ps-0">Retail</li>
                    <li class="list-group-item ps-0">Healthcare</li>
                    <li class="list-group-item ps-0">Education</li>
                    <li class="list-group-item ps-0">Retail</li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright text-right pb-2">Copyright 2021 Codepod. All Rights reseved. </p>
</div>